/*Limpar formatações padrão*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    background-color: #f28636;
    border: 2px solid yellow;
   
}

/*
**** Layout ****
*/

#area-cabecalho {
     padding: 12px;
     background-color: #fff;
     border: 4px solid green;
}

#area-logo {  
    width: 10%;
    
}

.logo {
    width: 306px;
    height: 219px;
    display: flex;
}

.area-menu {
    display: block;
    width: 100%;
    margin: 5px;
    padding: 15px;
    border: 4px solid red
  }

/*
**** Formatação Menu ****
*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

header ul {
    display: flex;

}

header ul li {
    padding: 12px;
}

li {
   color: #294864;
   margin: 50px 15px 20px;
   
}

ul {
    list-style: none;  
}

a {
	text-decoration: none;	
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 10px;

}


a:link, a:visited {
	color: #fff;
}

a:hover {
	text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
	color: #f28636;
	padding: 8px 12px;
}

a:hover {
	color: rgb(177, 92, 12);
	background: #f28636;
	text-decoration: none;
}

#divBusca{
    background-color:#fff;
    border:solid 1px;
    border-radius:4px;
    width:600px;
    margin-top: 200px;
    margin-left: 50px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:10px;
    font-size:15px;
    border:none;
    margin-top: 10px;

  }
  #icone {
    float: right;
    margin: 5px;
    padding: 5px;
  }

/* banner*/
          
.banner {
    padding: 25px;
    width: 80%;
   
}