.menu ul li{
    background-color: #f28636;
    color: #fff;
    float: left;
    width: 200px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: relative;
}

.menu ul li:hover {
    background-color: orangered;

}

.menu ul {
    padding: 0;
}

.menu ul ul {
    display: none;
}

.menu ul li:hover > ul {
    display: block;
}

.menu ul ul ul {
    margin-left: 201px;
    top: 0px;
    position: absolute;
}

.menu ul ul li:hover {
    background-color: orange;
}

.menu ul ul ul li:hover {
    background-color: red;
}